/**
 * Theme Name:     Astra Child
 * Author:         Brainstorm Force
 * Template:       astra
 * Text Domain:	   astra-child
 * Description:    Astra is fast, fully customizable
 * Text Domain: astra
 * Domain Path: /languages
 * Tags: custom-menu, custom-logo, entertainment, one-column, two-columns, left-sidebar, e-commerce, right-sidebar, custom-colors, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready, blog
 * AMP: true
 */
#add-experience-button{
    width: 59%;
}
#add-experience-button a{
    float: right;
    width: 200px;
    margin-top: 10px !important;
    margin-right: 5px !important;
    background: #000;
    border: 0px;
    padding: 10px 0px 10px 0px;
}
#add-experience-button a:hover{
    background: #B33F40;
    border: 0px;
}
.exp_add_client_attachement_addon:hover{
    background: #B33F40;
        border: 1px solid #000;  
}

.bsui:hover{
   background: #B33F40 !important;
    border: 0px; 
    color: #fff !important;
}
.btnPrevious:hover{
    background: #B33F40;
    border: 0px; 
}
.tab-content>.active {
    display: block;
    margin-left: 7px !important;
}
.step-two-prevent > .nav-link, .nav-link {
    color: #000 !important;
}
.exp_add_client_attachement_addon{
    width: 200px;
    margin-top: 10px !important;
    margin-left: 12px;
    padding: 10px 20px 10px 20px;
    background: #000;
}
.btnPrevious{
    float: left;
    width: 200px;
    margin-top: 10px !important;
    margin-right: 5px !important;
    background: #000;
    border: 0px;
    padding: 10px 0px 10px 0px;
}
.bsui{
    width: 200px;
    margin-top: 10px !important;
    margin-right: 5px !important;
    padding: 10px 0px 10px 0px;
    float: left;
    color: #fff;
    background: #000 !important;
    border: 0px !important;
    margin: 0px 0px 0px 17px;
}

/*-- PREMIUM MEMBERS CLUB LOADER --*/
.loader-container {
	display: flex;
    justify-content: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*-- PREMIUM MEMBERS CLUB --*/
.premium-members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
	justify-content: center;
	display: none;
}
#premium-members-club h1 {
	text-align: center;
}

/*-- PREMIUM MEMBERS CLUB ONCE DATA LOADS FADE AND SLIDE UP THE PAGE CONTENT --*/
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
